
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 18.5rem;
    height: auto;
    padding: 1.5rem;
    box-shadow: -15px 30px 30px hsl(216, 60%, 9%),
                    15px 30px 30px hsl(216, 60%, 9%);
}

.image-equilibrium{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 255, 247,0.5);
    border-radius: 8px;
}  

.img-div{
    position: relative;
    height: 15.5rem;
}

.img-div:hover .overlay{
    opacity: 1;
}

.hover-img{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p{
    font-size: 18px;
    color: rgb(139,172,217);
}

.title a{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-decoration: none;
}

.title a:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.line{
    font-weight: 300;
}

.price-time-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    display: flex;
    flex-direction: row; 
    width: 6.5rem;
    justify-content: space-between;
    align-items: center;
}

.icon-ethereum{
    width: 11px;
    height: auto;
}

.etherium-price{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

.time{
    width: 6.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-clock{
    width: 20px;
    height: auto;
}

hr{
    color: rgba(255, 255, 255, 0.1);
    border: 0.1px solid;
    border-color: rgba(255, 255, 255, 0.15);
}

.author-details{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-avatar{
    width: 30px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 0;
    margin-right: 1rem;
}

.author-name{
    color: hsl(0, 0%, 100%);
    display: inline;
    margin-left: 0.5ch;
    text-decoration: none;
}

.author-name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    bottom: 0.5rem;
    position: absolute;
    width: calc(100% - 10px );
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}